@page
@model Libro_Store.Pages.Contact.ContactModel
@{
}




<form method="post">
    <div class="border p-3 mt-4">

        <div class="row pb-2">
            <h2 class="text-primary pl-3 center">Contact Us</h2>
            <hr/>
        </div>
        <div class="mb-3 left-align">
            <label for="name">Name</label><br />
        <input type="text" id="name" required /><br />
        </div>
        <div class="mb-3 left-align">
            <label for="email">Email</label><br />
        <input type="email" id="email" required /><br />
        </div>
        <div class="mb-3 left-align">
            <label for="phone">Phone Number</label><br />
        <input type="tel" id="phone" /><br />
        </div>
        <div class="mb-3 left-align">
            <label for="reason">Reason for Contact</label><br />
        <input type="text" id="reason" required /><br />
        </div>

         <button type="submit" class="btn-primary">Submit</button>
</form>









<div class="text-center pt-4">
    <h3>Email us at: LiBrobooks@gmail.com</h3>
    <h3>
        Follow Us on Social Media at:<br /> Instagram: LibroBooksOfficial <br /> Twitter: LibroBooks <br /> Facebook: LibrobooksOfficial

    </h3>
 </div>