@page
@model Libro_Store.Pages.Admin.AdminModel
@{
}



<div class="col-4 text-center">
    <h1>
        Admin Page
    </h1>
    <h2>
        This Page is still under construction.
    </h2>
</div>

@*<h1>Log In</h1>
<div class="login">
    <form id="login" method="post" >
        <div asp-validation-summary="All"></div>
        <div class="container">
            <label asp-for="Input.username"></label>
            <input asp-for="Input.username" required />
            <span asp-validation-for="Input.username"></span>
        </div>
        <div>
            <label asp-for="Input.password"></label>
            <input asp-for="Input.password" required />
            <span asp-validation-for="Input.password"></span>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
            
        

    </form>
</div>*@