@page
@model Libro_Store.Pages.Create.CreateModel
@{
}



<form method="post" enctype="multipart/form-data">
    <div class="border p-3 mt-4">

        <div class="row pb-2">
            <h2 class="text-primary pl-3 center">Create Category</h2>
            <hr/>
        </div>

        <div class="mb-3 left-align">
            <label asp-for="Book.Title" class="font-weight-bold"></label>
            <input asp-for="Book.Title" class="form-control"/>
        </div>

        <div class="mb-3 left-align">
            <label asp-for="Book.Author" class="font-weight-bold"></label>
            <input asp-for="Book.Author" class="form-control"/>
        </div>

        <div class="mb-3 left-align">
            <label asp-for="Book.Price" class="font-weight-bold"></label>
            <input asp-for="Book.Price" class="form-control"/>
        </div>

        <div class="mb-3 left-align">
            <label asp-for="Book.Description" class="font-weight-bold"></label>
            <input asp-for="Book.Description" class="form-control"/>
        </div>

        <div class="mb-3 left-align">
            <label asp-for="Book.ImageData" class="font-weight-bold"></label>
            <input asp-for="Book.ImageData" type="file" class="form-control" alt="Choose a file" multiple="multiple"/>
        </div>

        <button type="submit" class="btn-primary">Submit</button>

    </div>
</form>