@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>Use this page to detail your site's privacy policy.</p>

</header>

<body>
    <p>
        Books are our passion and we aspire to keep serving as a medium for people to find books no matter their background
        so please refrain from all malpractice.
    </p>
</body>